
html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.game-container canvas {
    border: 1px solid black;
}

.game-container button {

}
